In [6]:
from tabula import read_pdf

In [7]:
df = read_pdf("SuppCosts.pdf")

In [8]:
df

    Year   Fires       Acres  Forest Service  DOI Agencies           Total
0   1985  82,591   2,896,147    $161,505,000   $78,438,000    $239,943,000
1   1986  85,907   2,719,162    $111,625,000   $91,153,000    $202,778,000
2   1987  71,300   2,447,296    $253,657,000   $81,452,000    $335,109,000
3   1988  72,750   5,009,290    $429,609,000  $149,317,000    $578,926,000
4   1989  48,949   1,827,310    $331,672,000  $168,115,000    $499,787,000
5   1990  66,481   4,621,621    $253,700,000  $144,252,000    $397,952,000
6   1991  75,754   2,953,578    $132,300,000   $73,820,000    $206,120,000
7   1992  87,394   2,069,929    $290,300,000   $87,166,000    $377,466,000
8   1993  58,810   1,797,574    $184,000,000   $56,436,000    $240,436,000
9   1994  79,107   4,073,579    $757,200,000  $161,135,000    $918,335,000
10  1995  82,234   1,840,546    $367,000,000  $110,126,000    $477,126,000
11  1996  96,363   6,065,998    $547,500,000  $153,683,000    $701,183,000
12  1997  66,196   2,856,959    $179,100,000  $105,048,000    $284,148,000
13  1998  81,043   1,329,704    $306,800,000  $109,904,000    $416,704,000
14  1999  92,487   5,626,093    $361,100,000  $154,416,000    $515,516,000
15  2000  92,250   7,383,493  $1,076,000,000  $334,802,000  $1,410,802,000
16  2001  84,079   3,570,911    $683,122,000  $269,574,000    $952,696,000
17  2002  73,457   7,184,712  $1,279,000,000  $395,040,000  $1,674,040,000
18  2003  63,629   3,960,842  $1,023,500,000  $303,638,000  $1,327,138,000
19  2004  65,461   8,097,880    $726,000,000  $281,244,000  $1,007,244,000
20  2005  66,753   8,689,389    $524,900,000  $294,054,000    $818,954,000
21  2006  96,385   9,873,745  $1,280,419,000  $424,058,000  $1,704,477,000
22  2007  85,705   9,328,045  $1,149,654,000  $470,491,000  $1,620,145,000
23  2008  78,979   5,292,468  $1,193,073,000  $392,783,000  $1,585,856,000
24  2009  78,792   5,921,786    $702,111,000  $218,418,000    $920,529,000
25  2010  71,971   3,422,724    $578,285,000  $231,214,000    $809,499,000
26  2011  74,126   8,711,367  $1,055,736,000  $318,789,000  $1,374,525,000
27  2012  67,774   9,326,238  $1,436,614,000  $465,832,000  $1,902,446,000
28  2013  47,579   4,319,546  $1,341,735,000  $399,199,000  $1,740,934,000
29  2014  63,212   3,595,613  $1,195,955,000  $326,194,000  $1,522,149,000
30  2015  68,151  10,125,149  $1,713,000,000  $417,543,000  $2,130,543,000
31  2016  67,595   5,503,538  $1,603,806,000  $371,739,000  $1,975,545,000
32  2017  71,499  10,026,086  $2,410,165,000  $508,000,000  $2,918,165,000